.seperator {
    display: flex;
    flex-direction: row;
    width: 1000px;

    justify-content: space-evenly;
}
.loginpage-left{
    width: 45vh;
}

.registerpage-right{
    width: 45vh;
}

.seperator-line {
    border-left: 6px solid #90bde0;
    height: 450px;
    box-shadow: 5px 5px 5px #88888845;
}
