.contactForm {
    margin-left: 50%;
    width: 1000px;
}
.button{
    margin-left: 10%;
}

.contactInput,
.contacttextfield {
    width: 400px;
}

.contacttextfield {
    min-height: 150px;
    box-sizing: border-box;
    border-radius: 4px;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
}