@import url('https://fonts.googleapis.com/css2?family=Carter+One');

.button {
    background-color: #F7B2AD;
    border-radius: 3px;
    border: 1px solid #5b5454;
    box-shadow: 5px 5px 5px #88888845;
    box-sizing: border-box;
    color: #000000;
    display: inline-block;
    font-family: 'Carter One';
    font-size: 20px;
    line-height: 1.15385;
    margin-top: 50px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    min-width: 200px;
}

.button:hover,
.button:focus {
    background-color: #ff8f8f;
}
