.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #0a0a0a;
    width: 60%;
    min-height: 80%;
}

.subtitle {
    text-align: right;
}

.content {
    font-weight: 200;
    font-size: 30px;
    text-align: justify;
}

.subcontent {
    font-weight: 150;
    font-size: 20px;
    text-align: justify;
}