.errorMessage {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border: solid #bf1650 3px;
    color: #bf1650;
    font-size: 20px;

}

.fieldLoadingMessage,
.fieldErrorMessageLight,
.fieldErrorMessage {
    display: flex;
    align-items: center;
    color: red;
    font-size: 20px;
    letter-spacing: .05rem;
    padding: 3px;

}

.fieldErrorMessageLight {
    border: solid 3px red;
    background-color: white;
    margin: 10px 10px 10px 0px;
}
.fieldLoadingMessage{
    border: solid 3px green;
    color: green;
    background-color: white;
    max-width: 250px;
    margin: 10px 10px 10px 0px;
}

.fieldErrorMessageLight::before,
.fieldErrorMessage::before {
    display: inline;
    content: '❗';
}