.jokerHeadline {
    margin-bottom: 50px
}
.submitJokeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jokeContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.outerSubmitJoke {
    margin-left: 50%;
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.submitjoketextfield, .submitdeliverytextfield {
    min-width: 260px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 14px;
    height: 200px;
}

.sendJokeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1ab85;
    border: 1px solid #5b5454;
    box-shadow: 5px 5px 5px #88888845;
    padding: 20px;
}

.error{
    align-self: flex-start;
    margin-left: 46%;
}