.profileForm {
    margin: 0 auto;
}

.updatedProfileForm {
    width: 600px;
}

.outerProfileGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonGroup {
    display: flex;
    gap: 50px;
}