h4 {
    line-height: 6;
}

.Welcome{
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 25em;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.homepage-lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 1000px;
}
.homepage-lower .registerButton {
    margin-left: 255px;
}

