.pageOuterContainer {
    height:75vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pageInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 1400px;
    padding: 50px;
}

h1 {
    font-size: 60px;
    font-family: 'Carter One';
    padding-bottom: 50px;
}

section {
    font-size: 30px;
    width: 30em;
    margin: 0.5em;
    white-space: normal;
    vertical-align: top;
    display: inline-block;
}

.icecreamSvg{
    align-self: flex-start;
}