main {
    height:80vh;
}
.pageOuterContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.pageInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 1400px;
    padding: 50px;
}