.pageOuterContainer {
    height:75vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pageInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 1400px;
    padding: 50px;
}

h1 {
    font-size: 60px;
    font-family: 'Carter One';
    padding-bottom: 50px;
}

.icecreamSvg{
    align-self: flex-end;
}