header {
    font-family: 'Carter One';
    padding-top: 30px
}

.giggles{
    margin-right: 32%;
}

.header-images {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}



