.requestJokeContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outerRequestJoke {
    margin-left: 50%;
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.getJokeFlagSelector {
    width: 260px;
}
.requestJokeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jokesList {
    text-decoration: none;
    flex-direction: column;
    font-size: 26px;
    gap: 20px;
}

.jokesList li {
    background-color: #b3d2ea;
    border: 1px solid #5b5454;
    box-shadow: 5px 5px 5px #88888845;
    padding: 20px;
    white-space: pre-line;
    margin: auto;
    width: 800px;
}

.error{
    align-self: flex-start;
}