.jokeContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.outerRequestJoke {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jokesList {
    text-decoration: none;
    flex-direction: column;
    font-size: 26px;
    width: 100%;
    gap: 20px;
}

ul.jokesList {
    padding: 0px;
}

.jokesList li {
    background-color: #b3d2ea;
    border: 1px solid #5b5454;
    box-shadow: 5px 5px 5px #88888845;
    padding: 20px;
    white-space: pre-line;
}