.informationMessage {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
    border: solid #1665bf 3px;
    color: #1665bf;
    font-size: 17px;
    max-width: 33%;
}
