@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');

:root{
  --dynamic-background-color: #F4E15E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'EB Garamond';
  background-color: var(--dynamic-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
