h3 {
    line-height: 1;
}

.outerRequestJoke {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 600px;
}

.requestPageHeader{
    padding-top: 40px;
}
