h3 {
    line-height: 1;
}

.outerRequestJoke {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requestPageHeader {
    padding-top: 40px;
}

.jokesList {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    max-width: 50%;
    gap: 20px;
}

.jokesList li {
    background-color: #b3d2ea;
    border: 1px solid #5b5454;
    box-shadow: 5px 5px 5px #88888845;
    padding: 20px;
    white-space: pre-line
}