.jokeHeadline h4 {
    text-align: right;
    line-height: 1;
}

.chickenJoke {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chickenJoke h3 {
    line-height: 6;
}
